h1, 
.heading {
    color:black;
    background-color: whitesmoke;
    font-size: 60px;
    font-family 'Brush Script MT', cursive, 'Courier-New', monospace,:
}

.list {
    color:blue;
    font-weight: bold;'
}

h2 {
    color: magenta;
    font: "Times New Roman"
}

h3 {
    color: yellowgreen
}

p {
    color:red;
    font-family: cursive;
}

ul {
    color: purple
}

ol {
    color: brown
}