h1, 
.heading {
    color:black;
    background-color: whitesmoke;
    font-size: 60px;
    font-family 'Brush Script MT', cursive, 'Courier-New', monospace,:
}

.list {
    color:blue;
    font-weight: bold;'
}

.heading {
    color:black;
    background-color: whitesmoke;
    font-size: 60px;
    font-family 'Brush Script MT', cursive, 'Courier-New', monospace,:
}

p {
    color:red;
}
